@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

@media (max-width: 925px) {
  #__next {
    overflow-x: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  height: auto;
}

#disqus_thread {
  width: 100%;
}

.active {
  color: #c24343 !important;
  border-bottom: 2px solid #c24343;
  cursor: pointer;
}

.paginate {
  border: 1px solid #2f4c65;
  color: #2f4c65;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  margin: 0 0.25rem;
  cursor: pointer;
}
.paginate:hover {
  background: #2f4c65;
  color: white;
}
.paginate.activePosts {
  background: #2f4c65;
  color: white !important;
}

@media (max-width: 620px) {
  .paginate {
    margin: 1.5rem 0;
  }
}
