#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;
  height: 600px;
  position: relative;
  padding: 0 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(17, 51, 80, 0.75);
  z-index: 1;
}

.hero_content {
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hero_content > h2 {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  width: 250px;
  text-align: center;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 2px;
  background: rgba(184, 184, 184, 0.797);
  text-shadow: 0 0 10px rgba(34, 54, 72, 0.523), 0 0 6px rgba(34, 54, 72, 0.523);
}
.hero_content > h1 > span {
  display: block;
}
@media (max-width: 1130px) {
  .hero_content > h1 > span {
    display: initial;
  }
}
.hero_content > h1 {
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 10px rgba(34, 54, 72, 0.523), 0 0 6px rgba(34, 54, 72, 0.523);
}
.hero_content > p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
}

.hero_btns {
  height: 7vh;
  display: flex;
  align-items: center;
}

.hero_btn01 {
  border: 2px solid #0082c8;
  padding: 12.5px 15px;
  margin-right: 2.5rem;
  background: #0082c8;
  color: white;
  font-size: 0.9rem;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.hero_btn01:hover {
  border: 2px solid white;
  background: white;
  color: #0082c8;
}

.hero_btn02 {
  border: 2px solid white;
  padding: 12.5px 15px;
  margin-right: 2.5rem;
  background: white;
  color: #0082c8;
  font-size: 0.9rem;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.hero_btn02:hover {
  border: 2px solid #0082c8;
  background: #0082c8;
  color: white;
}

@media (max-width: 1130px) {
  #hero {
    padding: 0 5rem;
  }
}
@media (max-width: 500px) {
  #hero {
    padding: 4rem 1rem;
    height: 100%;
  }
}
