.status {
  width: 100%;
  height: 40vh;
  background: rgb(247, 249, 250);
  /* margin-top: 75px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10rem;
}
@media (max-width: 1024px) {
  .status {
    padding: 0 7rem;
  }
}
@media (max-width: 768px) {
  .status {
    padding: 0 1rem;
  }
}
@media (max-width: 660px) {
  .status {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 500px) {
  .status {
    flex-wrap: wrap;
    height: 50vh;
    justify-content: space-evenly;
    padding: 0 6rem;
  }
}
@media (max-width: 499px) {
  .status {
    flex-wrap: wrap;
    height: 50vh;
    justify-content: space-evenly;
    padding: 0 6rem;
  }
}
@media (max-width: 499px) {
  .status {
    padding: 0 3rem;
  }
}
.item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item i {
  color: #0082c8;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  @media (max-width: 500px) {
    font-size: 2.5rem;
  }
}
.item h2 {
  font-weight: 500;
  font-size: 1.6rem;
  color: #414141;
  line-height: 1.8rem;
  text-align: center;
  @media (max-width: 500px) {
    font-size: 1.2rem;
  }
}
.item span {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  color: #636363;
  text-align: center;
  letter-spacing: 0.02rem;
}
